Test-Command: set -e
 ; for py in $(py3versions -r 2>/dev/null)
 ; do pushd "tests"
 ; echo "Testing with $py:"
 ; $py -m pytest -k 'not test_pipe_pipe_invalid_data_mocked'
 ; popd
 ; done
Depends: python3-all, @
